submitted/
student_assignments/
fortesting/
*.exe
*.asv
bu_submitted/
exam/Created/
assignments/week1/
assignments/week2/
assignments/week3/
assignments/week4/
clean_source/gen_mc/
submitted_bu/
*.zip
exam/exam_helper/analyse_exam/resultOverview.mat
exam/exam_helper/analyse_exam/analysisdata.mat
exam/exam_helper/analyse_exam/Untitled.fig
exam/exam_helper/analyse_exam/ProgrammingAssignments.svg
exam/exam_helper/analyse_exam/ProgrammingAssignments.png
exam/exam_helper/analyse_exam/Programming Assignments.svg
exam/exam_helper/analyse_exam/Programming Assignments.png
exam/exam_helper/analyse_exam/MultipleChoice.svg
exam/exam_helper/analyse_exam/MultipleChoice.png
exam/exam_helper/BiostaticaCijfersAnalyse.xlsx
exam/Untitled.pdf
exam/Untitled.mlx
*.rar
